.layout {
    background: #fff !important;
    .nav-header {
        width: 100%;
        margin: auto;
        background-color: #fff;
        box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
        :global(.ant-menu-horizontal) {
            border-bottom: 0;
        }
        ul {
            max-width: 1200px;
            margin: auto;
        }
        .floatRight {
            float: right;
        }
    }
    :global(.ant-layout-content) {
        margin-top: 10px;
    }
    .page-content {
        background-color: #fff;
        height: 180px;
        border-bottom: 1px solid #e8e8e8;
        .content-wrapper {
            max-width: 1200px;
            margin: auto;
            height: inherit;
            position: relative;
            padding: 0 24px;
            h1 {
                font-size: 20px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.85);
            }
            .search-wrapper {
                width: 60%;
                transform: translate(-50%, -50%);
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
    }
    .list-content {
        background: #f0f2f5;
        padding-top: 24px;
        .grid-content {
            max-width: 1200px;
            margin: auto;
            :global(.ant-tag) {
                font-size: 14px;
            }
            .toggle {
                position: absolute;
                right: 5%;
                bottom: 8px;
            }
        }
    }
}

@media (max-width: 700px) {
    :global(.ant-input-lg) {
        font-size: 12px !important;
    }
    .toggle {
        bottom: -16px !important;
        right: 8px !important;
    }
    .search-wrapper {
        width: 85% !important;
    }
}

:global(.ant-list-item-content) {
    em {
        color: red;
    }
}
