.chartWrapper {
    position: relative;
    .guide-title {
        position: absolute;
        z-index: 999;
        bottom: 10%;
        width: 100%;
        text-align: center;
        p {
            display: inline-block;
            margin: 0;
            font-weight: bold;
            font-size: large;
        }
    }
}

.download {
    position: absolute;
    right: 20%;
    height: 27px;
    line-height: 27px;
}
@media (max-width: 700px) {
    .download {
        top: 27px;
    }
}
