.layout {
    height: -webkit-fill-available;
    background: #fff !important;
    .nav-header {
        width: 100%;
        margin: auto;
        background-color: #fff;
        box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
        :global(.ant-menu-horizontal) {
            border-bottom: 0;
        }
        ul {
            max-width: 1200px;
            margin: auto;
        }
        .floatRight {
            float: right;
        }
    }
    :global(.ant-layout-content) {
        margin-top: 10px;
        :global(.ant-card) {
            max-width: 1200px;
            margin: auto;
            :global(.ant-card-body) {
                margin-top: 10px;
            }
        }
    }
}
