@media (max-width: 700px) {
    .wrapper {
        width: 100% !important;
    }
    .login-form {
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
}

.login-wrapper {
    height: 100vh;
    background: url(../../images/login.png) no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    .wrapper {
        width: 500px;
        height: inherit;
        float: right;
        background: #ffffff33;
        filter: blur(1.5px);
    }
    .login-form {
        width: 300px;
        position: absolute;
        right: 100px;
        transform: translateY(-50%);
        top: 50%;
        form {
            margin-top: 24px;
        }
        button {
            width: 100%;
        }
    }
}
